<div class="flex flex-col gap-4">
    Main Content
    @for (widget of widgets; track $index) {
    <ng-template [ngComponentOutlet]="widget.component" [ngComponentOutletInputs]="widget.inputs" />
    }

    <app-select [options]="options" [value]="selectedOption">
        <ng-template [selectItem]="options" let-option let-index="index">
            <option [value]="option.value" [selected]="option.value === selectedOption">
                {{index}}-{{option.label}}
            </option>
        </ng-template>
    </app-select>
</div>